body{
    background-color: #FFF8ED;

    background-image: linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(90deg, #ffffff 1px, transparent 1px);
    background-size: 4vw 4vw;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.hero img{
    height: 30vh;
}

.hero p{
    text-align: center;
    font-size: 2.8vh;
}

@media (min-width: 1200px) {
    .hero img{
        height: 40vh;
    }
}