body{
    margin: 0;
}

header{
    height: 50vh;
}

footer{
    height: 80vh;
    background-color: pink;

    background-image: linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(90deg, #ffffff 1px, transparent 1px);
    background-size: 4vw 4vw;
}

