<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherry - Hack Club</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }} ">
    <link rel="shortcut icon" href="https://cdn.hackclub.com/01a058a2-8bbb-788a-83a1-24d4ccc8391e/Untitled%20design%20(31).png" type="image/x-icon">
    <script src="{{ url_for('static', filename='sctipt.js') }}" defer ></script>
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
    </header>
    <section class="hero">
        <div id="tex" >
            <h1 id="text" >Cherry</h1>
            <img draggable="false" id="flower" src="https://cdn.hackclub.com/01a058a2-8bbb-788a-83a1-24d4ccc8391e/Untitled%20design%20(31).png" alt="">
        </div>
        <div class="petal-field" aria-hidden="true"></div>
        <img draggable="false" id="tree" src="https://cdn.hackclub.com/01a05823-7501-7186-8ff1-de33ea344eee/Untitled%20design%20(27).png" alt="">
        <img draggable="false" id="tree2" src="https://cdn.hackclub.com/01a0587c-c172-7bf6-b34e-e6bec8d7f6f8/Untitled%20design%20(30).png" alt="">
        <div class="signup">
    <form id="formsign" method="POST" action="/" >
        <h3 id="stex">SIGN UP NOW</h3>
        <input  type="email" name="email" placeholder="orpheus@hackclub.com" required>
        <button id="submit" type="submit">
    <span>Sign up</span>
</button>
    </form>
</div>

<div class="signup1"></div>
            
        </div>
        <p id="weare" >We're running a hackathon in Japan

nd you're invited.</p>
    </section>
    <section>
    
    </section>
</body>
</html>

